// Banner carousel style
.ban__carousel-inner .slick-arrow.slick-prev {
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 0;
    width: 46px;
    height: 46px;
    border: none;
    left: 148px;
    background: url('../../icons/banner/arrow_l.svg') 0 0 no-repeat;
    outline: none;
}

.ban__carousel-inner .slick-arrow.slick-next {
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 0;
    width: 46px;
    height: 46px;
    border: none;
    right: 148px;
    background: url('../../icons/banner/arrow_r.svg') 0 0 no-repeat;
    outline: none;
}

.ban__carousel-inner .slick-track {
    display: flex;
    justify-content: space-between;
}


/* Точки (булиты) */

.ban__carousel-inner .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    margin: 0;
    margin-top: -43px;
}

.ban__carousel-inner .slick-dots li button {
    font-size: 0;
    width: 8px;
    height: 8px;
    background: none;
    border-radius: 50%;
    border-color: #FFFFFF;
    // border: none;
    margin: 0 8px;
    z-index: 9999;
}

.ban__carousel-inner .slick-dots li {
    list-style-type: none;
    display: flex;
}


/* Активная точка */

.ban__carousel-inner .slick-dots li.slick-active button {
    background: #FFFFFF;
    outline: none;
    border: none;
}

// variant carousel
.variant__slider .slick-slide {
    display: flex;
}

.variant__slider .slick-arrow.slick-prev {
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 0;
    width: 46px;
    height: 46px;
    border: none;
    left: -65px;
    background: url('../../icons/variant/arrow_prev.svg') 0 0 no-repeat;
    outline: none;
}

.variant__slider .slick-arrow.slick-next {
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 0;
    width: 46px;
    height: 46px;
    border: none;
    right: -65px;
    background: url('../../icons/variant/arrow_next.svg') 0 0 no-repeat;
    outline: none;
}

.variant__slider .slick-track {
    display: flex;
    justify-content: space-between;
    align-items: center;
}